apiVersion: v1
kind: ConfigMap
metadata:
  name: homeassistant-config
  namespace: homeassistant
data:
  configuration.yaml: |
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.42.0.0/24
        - 10.42.1.0/24
        - 10.42.2.0/24
        - 10.42.3.0/24
        - 10.42.4.0/24
        - 127.0.0.1
        - ::1

    evohome:
      username: !secret evohome_username
      password: !secret evohome_password
      location_idx: 0  # Optional, defaults to 0.
      scan_interval: 300  # Optional, defaults to 300 seconds.

    # Automations created in the UI
    automation ui: !include automations.yaml